<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SignInApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="PSNI Sign-In"
        android:supportsRtl="true"
        android:theme="@style/Theme.PSNISignIn">

        <provider
            android:name=".LogFileProvider"
            android:authorities="${applicationId}.logs"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity android:name=".AdminEditActivity" android:exported="false" />
        <activity android:name=".AdminListActivity" android:exported="false" />
        <activity android:name=".AdminDateActivity" android:exported="false" />
        <activity android:name=".AdminLoginActivity" android:exported="false" />
        <activity android:name=".SignOutActivity" android:exported="false" />
        <activity android:name=".SignInActivity" android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
